* {	
    margin:0; 
	padding:0; 
	font-size:100%; 
	font-weight:normal;
}

body {
	font-size:12px; 
	font-family:arial; 
    line-height:1.2em;
}

.page {
    color:#fff;
    background:#ccc;
    position:relative;
    width:960px;
    height:500px;
    padding:40px;
    margin:50px auto;
}
.page_background_gray {
    background-image:url(../images/background.png);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-box-shadow: #000 0 0 20px;
    box-shadow: #000 0 0 20px;
}


/*Accordion*/
.accordion{
    width:70%;
}

.accordion__item{
    width:100%;
}

.accordion__item-name{
   font-size:13px; 
   background:#ccc url(../images/arrow-right.png) no-repeat 5px;
   height:16px; 
   padding: 3px 25px;
   margin:3px;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   -khtml-border-radius: 2px;
   text-shadow:1px 1px 1px #000;    
   -webkit-text-shadow:1px 1px 1px #000; 
   -moz-text-shadow:1px 1px 1px #000; 
   -o-text-shadow:1px 1px 1px #000; 
}


.accordion__item-text{
    display:none;
    padding:3px;
    margin:3px;
}
.active .accordion__item-name{
   background:#ccc url(../images/arrow-down.png) no-repeat 5px; 
}

.active .accordion__item-text{
    display:block;
}